About Pandas Series object:
    1. one dimentional labled array of data
    2. contains only one type of data, like only int, only string, only object of certain type etc

In [1]:
import pandas as pd
import numpy as np

In [5]:
name_series = pd.Series(['Anand','Aman'])
name_series

0    Anand
1     Aman
dtype: object

*NOTE* : dtype above is 'object' which simply means string.

In [6]:
num_series = pd.Series([1,2,3,4,5])
num_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
bool_series = pd.Series([True,False,True])
bool_series

0     True
1    False
2     True
dtype: bool

<h3>Series from python dictionary</h3>

In [14]:
name_address = {"Anand": "Pune",
               "Aman": "Banglore"}

name_address_series = pd.Series(name_address)
name_address_series

Anand        Pune
Aman     Banglore
dtype: object

*NOTE* : the index is the key of dictionary 'name_address'

<h3>Series Attributes</h3>

In [15]:
name_series.values

array(['Anand', 'Aman'], dtype=object)

In [16]:
name_series.index

RangeIndex(start=0, stop=2, step=1)

In [17]:
name_series.dtype

dtype('O')

In [21]:
name_series.argmax

<bound method IndexOpsMixin.argmax of 0    Anand
1     Aman
dtype: object>

In [23]:
name_series.shape

(2,)

<h3>Series Methods</h3>

In [24]:
name_series.sum()

'AnandAman'

In [25]:
num_series.sum()

15

In [27]:
num_series.product()

120

In [28]:
num_series.mean()

3.0

In [30]:
name_series

0    Anand
1     Aman
dtype: object

<h4>Pass index along with data value to Series constructor</h4>

In [33]:
week = ['Mon','Tue','Wed','Thu','Fri','Sat','Mon']
fruits = ['Apple','Mango','Banana','Watermalon','Jackgruit','Grapes','Guava']

week_fruit_series = pd.Series(data=fruits, index=week)
week_fruit_series

Mon         Apple
Tue         Mango
Wed        Banana
Thu    Watermalon
Fri     Jackgruit
Sat        Grapes
Mon         Guava
dtype: object

*NOTE* : Key of Pandas Series can be non-unique

<h3>Import Series with read_csv() Method</h3>

usecols parameter to use only 'Pokemon' column from csv file<br>

squeeze parameter to treat as Pandas Series, otherwise Dataframe will be returned

In [10]:
pokemon = pd.read_csv('resources/pokemon.csv', usecols=['Pokemon'], squeeze=True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [11]:
google = pd.read_csv('resources/google_stock_price.csv', squeeze=True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64