In [1]:
import pandas as pd  # pandas library
import datetime as dt # python's inbuilt module

<h3>Review of Python's datetime Module</h3><br>
Inside datetime module there is a method called datetime() to create datetime object

In [2]:
someday = dt.date(2020,2,4)
someday

datetime.date(2020, 2, 4)

In [3]:
#attributes of date
print(someday.year)
print(someday.month)
print(someday.day)

2020
2
4

In [4]:
dt.datetime(2010,1,10) # defaults to midnight 00:00

datetime.datetime(2010, 1, 10, 0, 0)

In [5]:
dt.datetime(2010,1,10, 8,13,57)

datetime.datetime(2010, 1, 10, 8, 13, 57)

In [6]:
dt.datetime(2010,1,10, 17,13,57)

datetime.datetime(2010, 1, 10, 17, 13, 57)

In [7]:
str(dt.datetime(2010,1,10, 17,13,57))

'2010-01-10 17:13:57'

In [8]:
print(someday)

2020-02-04

In [9]:
sometime = dt.datetime(2010,1,10, 17,13,57)

In [10]:
print(sometime.year)
print(sometime.month)
print(sometime.day)
print(sometime.hour)
print(sometime.minute)
print(sometime.second)

2010
1
10
17
13
57

<h3>The pandas Timestamp Object</h3><br>
Timestamp is pandas version of Python's datetime object

In [11]:
pd.Timestamp('2015-03-31')

Timestamp('2015-03-31 00:00:00')

In [12]:
pd.Timestamp('2015/03/31')

Timestamp('2015-03-31 00:00:00')

In [13]:
pd.Timestamp('2013, 11, 04')

Timestamp('2013-11-04 00:00:00')

In [14]:
pd.Timestamp('1/1/2017')

Timestamp('2017-01-01 00:00:00')

In [15]:
pd.Timestamp('19/12/2015')

Timestamp('2015-12-19 00:00:00')

In [16]:
pd.Timestamp('12/19/2015')

Timestamp('2015-12-19 00:00:00')

In [17]:
pd.Timestamp('4/3/2000')

Timestamp('2000-04-03 00:00:00')

In [18]:
pd.Timestamp('2021-03-08 08:35:15')

Timestamp('2021-03-08 08:35:15')

In [19]:
pd.Timestamp('2021-03-08 6:13:15 PM')

Timestamp('2021-03-08 18:13:15')

In [20]:
pd.Timestamp(dt.date(2015,1,1))

Timestamp('2015-01-01 00:00:00')

In [21]:
pd.Timestamp(dt.datetime(2000,2,3,21,34,44))

Timestamp('2000-02-03 21:34:44')

<h3>The pandas DatetimeIndex Object</h3><br>
Collection of Pandas Timestamp

In [22]:
dates = ['2016/01/02','2016/04/12','2009/09/07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [23]:
dates = [dt.date(2016,1,10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dt_index = pd.DatetimeIndex(dates)

In [24]:
values = [100,200,300]
pd.Series(values, index=dt_index)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

<h3>The pd.to_datetime() Method</h3>

In [29]:
pd.to_datetime('2020-01-01')
pd.to_datetime(dt.date(2020,1,1))
pd.to_datetime(dt.datetime(2020,1,1,13,34,30))
pd.to_datetime(['2020-01-09','2020/02/08','2016','July 4th, 1998'])

DatetimeIndex(['2020-01-09', '2020-02-08', '2016-01-01', '1998-07-04'], dtype='datetime64[ns]', freq=None)

In [31]:
times = pd.Series(['2020-01-09','2020/02/08','2016','July 4th, 1998'])
times

0        2020-01-09
1        2020/02/08
2              2016
3    July 4th, 1998
dtype: object

In [32]:
pd.to_datetime(times)

0   2020-01-09
1   2020-02-08
2   2016-01-01
3   1998-07-04
dtype: datetime64[ns]

In [33]:
dates = pd.Series(['July 4th 1996', '10/04/1991', 'Hello', '2015-02-31'])
dates

0    July 4th 1996
1       10/04/1991
2            Hello
3       2015-02-31
dtype: object

In [35]:
pd.to_datetime(dates, errors='coerce')
# errors=coerce - very important

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

Unix Time : number of seconds since 1st Jan 1970 mid night. This is a very popular timeformat to store into system.

In [37]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit='s')

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

<h3>Create Range of Dates with the pd.date_range() Method</h3>

In [39]:
times = pd.date_range(start='2016-01-01', end='2016-01-10', freq='D')
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [40]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [42]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [44]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='B') # Only business days - skip sat and sun

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [45]:
pd.date_range(start='2016-01-01', end='2016-01-15', freq='W') # Week freq='W-SUN' - default

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [46]:
pd.date_range(start='2016-01-01', end='2016-01-15', freq='W-FRI')

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [48]:
pd.date_range(start='2016-01-01', end='2016-01-15', freq='H') # Each hour

output = None

In [49]:
pd.date_range(start='2016-01-01', end='2016-01-15', freq='10H') # every 10 hour

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 10:00:00',
               '2016-01-01 20:00:00', '2016-01-02 06:00:00',
               '2016-01-02 16:00:00', '2016-01-03 02:00:00',
               '2016-01-03 12:00:00', '2016-01-03 22:00:00',
               '2016-01-04 08:00:00', '2016-01-04 18:00:00',
               '2016-01-05 04:00:00', '2016-01-05 14:00:00',
               '2016-01-06 00:00:00', '2016-01-06 10:00:00',
               '2016-01-06 20:00:00', '2016-01-07 06:00:00',
               '2016-01-07 16:00:00', '2016-01-08 02:00:00',
               '2016-01-08 12:00:00', '2016-01-08 22:00:00',
               '2016-01-09 08:00:00', '2016-01-09 18:00:00',
               '2016-01-10 04:00:00', '2016-01-10 14:00:00',
               '2016-01-11 00:00:00', '2016-01-11 10:00:00',
               '2016-01-11 20:00:00', '2016-01-12 06:00:00',
               '2016-01-12 16:00:00', '2016-01-13 02:00:00',
               '2016-01-13 12:00:00', '2016-01-13 22:00:00',
               '2016-01-14 08:00:00', '2016-01-14 18:00:00'],
              dtype='datetime64[ns]', freq='10H')

In [52]:
pd.date_range(start='2016-01-01', end='2016-12-31', freq='M') # Month Ends

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [53]:
pd.date_range(start='2016-01-01', end='2016-12-31', freq='MS') # Month Starts

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [54]:
pd.date_range(start='2016-01-01', end='2030-12-31', freq='A') # Year Ends

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

Utilizing periods parameter

In [55]:
pd.date_range(start='2012-09-09', periods=25, freq='D')

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [56]:
pd.date_range(start='2012-09-09', periods=25, freq='B')

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

In [57]:
pd.date_range(start='2012-09-09', periods=25, freq='10H')

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 10:00:00',
               '2012-09-09 20:00:00', '2012-09-10 06:00:00',
               '2012-09-10 16:00:00', '2012-09-11 02:00:00',
               '2012-09-11 12:00:00', '2012-09-11 22:00:00',
               '2012-09-12 08:00:00', '2012-09-12 18:00:00',
               '2012-09-13 04:00:00', '2012-09-13 14:00:00',
               '2012-09-14 00:00:00', '2012-09-14 10:00:00',
               '2012-09-14 20:00:00', '2012-09-15 06:00:00',
               '2012-09-15 16:00:00', '2012-09-16 02:00:00',
               '2012-09-16 12:00:00', '2012-09-16 22:00:00',
               '2012-09-17 08:00:00', '2012-09-17 18:00:00',
               '2012-09-18 04:00:00', '2012-09-18 14:00:00',
               '2012-09-19 00:00:00'],
              dtype='datetime64[ns]', freq='10H')

Notice that we can end date and period, pandas will start from a point and move till end to generate DatetimeIndex

In [58]:
pd.date_range(end='1999-12-31', periods=20, freq='D')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

<h3>The .dt Accessor</h3>

<br>In case pandas also have the method with same name as Python, dt accessor is used before calling that method

In [61]:
bunch_of_dates = pd.date_range(start='2000-01-01', end='2010-12-31', freq='24D')
s=pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [63]:
s.dt.day.head()

0     1
1    25
2    18
3    13
4     6
dtype: int64

In [66]:
s.dt.month.head()

0    1
1    1
2    2
3    3
4    4
dtype: int64

In [69]:
s.dt.weekday.head()

0    5
1    1
2    4
3    0
4    3
dtype: int64

In [74]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [75]:
mask = s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

<h3>Install pandas-datareader - Pandas library to fetch data from web</h3>

In [76]:
# !conda install pandas-datareader

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

<h3>Import Financial Data Set with pandas_datareader Library</h3>

In [77]:
from pandas_datareader import data

C:\Users\Anand\Anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [80]:
company = 'MSFT'  # you can google company stock symbol
start = '2010-01-01'
end = '2017-12-31'

stocks = data.DataReader(name=company, data_source='yahoo', start=start, end=end)
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.925440
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.294369
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.302216
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.153070
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.901886

In [85]:
stocks.index[0]

Timestamp('2009-12-31 00:00:00')

In [87]:
# stocks.axes

<h3>Selecting Rows from a DataFrame with a DateTimeIndex</h3>